<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center">Client Bio Form</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <form #form="ngForm" autocomplete="off" *ngIf="service.formData">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Bio Form ID </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">#</div>
                  </div>
                  <input name="consultation_Id" #consultation_Id="ngModel" [(ngModel)]=service.formData.consultation_Id
                    class="form-control" readonly>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Client ID</label>
                <!--  -->
                <input type="text" name="date" #date="ngModel" [(ngModel)]=service.formData.date class="form-control">

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Height</label>
                <input type="number" name="venue" #venue="ngModel" [(ngModel)]=service.formData.venue
                  class="form-control">

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Weight</label>
                <input type="number" name="date" #date="ngModel" [(ngModel)]=service.formData.date class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Date Of Birth</label>
                <input type="date" name="start" #start="ngModel" [(ngModel)]=service.formData.start
                  class="form-control">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Gender</label>
                <select name="emp_Id" #emp_Id="ngModel" [(ngModel)]=service.formData.emp_Id class="form-control">
                  <option vlaue="0">--Select--</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Injury</label>
                <input type="text" name="emp_Id" #emp_Id="ngModel" [(ngModel)]=service.formData.emp_Id
                  class="form-control">
              </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <div class="form-group"><a class="btn btn-sm btn-success text-white"
                  (click)="AddorEditCons(null,service.formData.consultation_Id)"><i class="fa fa-plus"></i> Add
                  Bio Form</a>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <input type="text" name="searchSub" class="form-control">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <a class="btn btn-sm btn-success text-white"
                  (click)="AddorEditSub(null,service.SubData.subscription_Id)"><i class="fa fa-search"></i> Search
                </a>
              </div>
            </div>


            <!-- <div class="col-md-6">
              <div class="form-group">
                <label>End Time</label>
                <input type="date" name="end" #end="ngModel" [(ngModel)]=service.formData.end class="form-control">
              </div>
            </div>-->

          </div>
          <!--Table-->
          <table class="table table-borderless">
            <thead class="thead-light">
              <th>Bio Form ID</th>
              <th>Client ID</th>
              <th>Height</th>
              <th>Weight</th>
              <th>Gender</th>
              <th>Injury</th>
              <!-- <th>Venue</th>-->
              <th>
                <!-- <a class="btn btn-sm btn-success text-white"
                  (click)="AddorEditCons(null,service.formData.consultation_Id)"><i class="fa fa-plus"></i> Add
                  Sets</a>-->
              </th>
            </thead>
            <tbody>
              <!--
          <tr *ngIf="service.subItem.length == 0">
            <td class="fornt-italic text-center" colspan="5">
              No subscriptions available
            </td>
          </tr>
          -->
              <tr>
                <!--*ngFor="let item of service.subItem; let i=index"-->
                <td>9999</td>
                <td>9999</td>
                <td>99.99</td>
                <td>99.99</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <!--<td>xxxxxxx</td>-->
                <td>
                  <a class="btn btn-sm btn-info text-white"
                    (click)="AddorEditCons(i,service.formData.consultation_Id)"><i class="fa fa-pencil"></i>
                    Edit</a>
                  <a class="btn btn-sm btn-info text-white ml-1"
                    (click)="AddorEditCons(i,service.formData.consultation_Id)"><i class="fa fa-trash"></i>
                    Delete</a>
                </td>
              </tr>
            </tbody>
          </table>

        </form>
      </div>
    </div>
  </div>
</div>