.page-footer{
    background-color: rgb(202, 151, 9);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    
    
}

.signupbutton {
    background-color: white;
    color: rgb(202, 151, 9);
}