<!-- Footer -->
<footer class="page-footer font-small darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12">
        <div class=" flex-center">

          <!-- Facebook -->

        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#"> JessterFIT.co.za</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->