<h4 class="display-4">Add Personal Training Slot</h4>
<hr>
<form #form="ngForm" autocomplet="off">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Training ID</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">#</div>
          </div>
          <input name="training_Id" #training_Id="ngModel" [(ngModel)]=formData.training_Id class="form-control"
            readonly>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Employee ID</label>
        <select name="emp_Id" #emp_Id="ngModel" [(ngModel)]=formData.emp_Id class="form-control">
          <option vlaue="0">--Select--</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Date</label>
        <input type="date" name="date" #date="ngModel" [(ngModel)]=formData.date class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Start Time</label>
        <input type="date" name="start" #start="ngModel" [(ngModel)]=formData.start class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>End Time</label>
        <input type="date" name="end" #end="ngModel" [(ngModel)]=formData.end class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Status</label>
        <input type="text" name="status" #status="ngModel" [(ngModel)]=formData.status class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i>Close</button>

  </div>
</form>