<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center">Client Profile</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <form #form="ngForm" autocomplete="off" *ngIf="service.formData">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Name</label>
                <input name="training_Id" #training_Id="ngModel" [(ngModel)]=service.formData.training_Id
                  class="form-control" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Surname</label>
                <input name="emp_Id" #emp_Id="ngModel" [(ngModel)]=service.formData.emp_Id class="form-control"
                  readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email</label>
                <input name="venue" #venue="ngModel" [(ngModel)]=service.formData.venue class="form-control" readonly>

              </div>
            </div>
            <!--<div class="col-md-6">
              <div class="form-group">
                <label>Contact Number</label>
                <input type="text" name="date" #date="ngModel" [(ngModel)]=service.formData.date class="form-control"
                  readonly>
              </div>
            </div>-->
            <div class="col-md-6">
              <div class="form-group">
                <label>Subscription Status</label>
                <input type="text" name="start" #start="ngModel" [(ngModel)]=service.formData.start class="form-control"
                  readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Gender</label>
                <input name="subscription_Type_Id" #subscription_Type_Id="ngModel"
                  [(ngModel)]=service.SubData.subscription_Type_Id class="form-control" readonly>
              </div>
            </div>
            <!--<div class="col-md-6">
              <div class="form-group">
                <label>Status</label>
                <input type="text" name="status" #status="ngModel" [(ngModel)]=service.formData.status
                  class="form-control">
              </div>
            </div>-->
            <div class="col-md-6"></div>
            <div class="col-md-4">
              <div class="form-group">
                <a class="btn btn-sm btn-success text-white"
                  (click)="AddorEditTraining(i,service.formData.training_Id)"><i class="fa fa-plus"></i> Edit Profile
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <a class="btn btn-sm btn-success text-white"
                  (click)="AddorEditTraining(i,service.formData.training_Id)"><i class="fa fa-plus"></i> Book Training
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <a class="btn btn-sm btn-success text-white"
                  (click)="AddorEditTraining(i,service.formData.training_Id)"><i class="fa fa-plus"></i> Book
                  Consultation
                </a>
              </div>
            </div>
            <div class="col-md-6">
            </div>

          </div>
          <!--Table-->
          <table class="table table-borderless">
            <thead class="thead-light">
              <th>Weight</th>
              <th>Height</th>
              <th>Gender</th>
              <th>Date Of Birth</th>
              <th>Injuries</th>
              <!--<th>Venue</th>
              <th>Status</th>
              <th>
              </th>-->
            </thead>
            <tbody>
              <!--
            <tr *ngIf="service.subItem.length == 0">
              <td class="fornt-italic text-center" colspan="5">
                No subscriptions available
              </td>
            </tr>
            -->
              <tr>
                <!--*ngFor="let item of service.subItem; let i=index"-->
                <td>99.99</td>
                <td>99.99</td>
                <td>xxxxx</td>
                <td>9999/12/31</td>
                <td><select name="subscription_Type_Id" #subscription_Type_Id="ngModel"
                    [(ngModel)]=service.SubData.subscription_Type_Id class="form-control">
                    <option vlaue="0">Injuries</option>
                  </select></td>
              </tr>
            </tbody>
          </table>

        </form>
      </div>
    </div>
  </div>
</div>