<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center">Search Sale</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <form #form="ngForm" autocomplete="off" *ngIf="service.challengeData">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Functionality ID</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">#</div>
                  </div>
                  <input name="challenge_Id" #challenge_Id="ngModel" [(ngModel)]=service.challengeData.challenge_Id
                    class="form-control" readonly>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Details</label>
                <input name="details" #details="ngModel" [(ngModel)]=service.formData.details class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <a class="btn btn-sm btn-success text-white"
                (click)="AddorEditSubType(null,service.formData.subscription_Type_Id)"><i class="fa fa-plus"></i> Add
              </a>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" name="subscription_End_Date" #subscription_End_Date="ngModel"
                  [(ngModel)]=service.SubData.subscription_End_Date class="form-control">
              </div>
            </div>
            <div class="col-md-3">
              <a class="btn btn-sm btn-success text-white"
                (click)="AddorEditSubType(null,service.formData.subscription_Type_Id)"><i class="fa fa-search"></i>
                Search
              </a>
            </div>
          </div>
          <!--Table-->
          <table class="table table-borderless">
            <thead class="thead-light">
              <th>Sale ID</th>
              <th>Date of Sale</th>
              <th>Client ID</th>
              <th>Total</th>
            </thead>
            <tbody>
              <!--
        <tr *ngIf="service.subItem.length == 0">
          <td class="fornt-italic text-center" colspan="5">
            No subscriptions available
          </td>
        </tr>
        -->
              <tr>
                <!--*ngFor="let item of service.subItem; let i=index"-->
                <td>9999</td>
                <td>9999/12/31</td>
                <td>9999
                </td>
                <td>9999.99</td>
              </tr>
              <tr>
                <!--*ngFor="let item of service.subItem; let i=index"-->
                <td>9999</td>
                <td>9999/12/31</td>
                <td>9999
                </td>
                <td>9999.99</td>
              </tr>
              <tr>
                <!--*ngFor="let item of service.subItem; let i=index"-->
                <td>9999</td>
                <td>9999/12/31</td>
                <td>9999
                </td>
                <td>9999.99</td>
              </tr>
            </tbody>
          </table>

        </form>
      </div>
    </div>
  </div>
</div>
