<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center">Client Consultation</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <form #form="ngForm" autocomplete="off" *ngIf="service.challengeData">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Name</label>
                <input name="challenge_Id" #challenge_Id="ngModel" [(ngModel)]=service.challengeData.challenge_Id
                  class="form-control" value="Janco">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Surname</label>
                <input name="challenge_Type_Id" #challenge_Type_Id="ngModel"
                  [(ngModel)]=service.challengeData.challenge_Type_Id class="form-control" value="Steenkamp">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email</label>
                <input type="text" name="challenge_Start_Date" #challenge_Start_Date="ngModel"
                  [(ngModel)]=service.challengeData.challenge_Start_Date class="form-control"
                  value="u15033377@tuks.co.za">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Contact Number</label>
                <input type="text" name="chalenge_End_Date" #chalenge_End_Date="ngModel"
                  [(ngModel)]=service.challenge.chalenge_End_Date class="form-control" value="0825301605">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">

                <label>Subscription Balance</label>
                <input name="prize_Id" #prize_Id="ngModel" [(ngModel)]=service.challengeData.prize_Id
                  class="form-control" value="-R150.00">

              </div>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-4" hidden>
              <div class="form-group">
                <a class="btn btn-sm btn-success text-white"
                  (click)="AddorEditChallenge(null,service.challenge.challenge_Id)"><i class="fa fa-plus"></i> Edit
                  Profile
                </a>
              </div>
            </div>
            <div class="col-md-4" hidden>
              <div class="form-group">
                <a class="btn btn-sm btn-success text-white"
                  (click)="AddorEditChallenge(null,service.challenge.challenge_Id)"><i class="fa fa-plus"></i> Book
                  Training
                </a>
              </div>
            </div>
            <div class="col-md-4" hidden>
              <div class="form-group">
                <a class="btn btn-sm btn-success text-white"
                  (click)="AddorEditChallenge(null,service.challenge.challenge_Id)"><i class="fa fa-plus"></i> Book
                  Consultation
                </a>

              </div>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4" hidden>
              <div class="form-group">
                <a class="btn btn-sm btn-danger text-white"
                  (click)="AddorEditChallenge(null,service.challenge.challenge_Id)"><i class="fa fa-trash"></i> Cancel
                  Training</a>
              </div>
            </div>
            <div class="col-md-4" hidden>
              <div class="form-group">
                <a class="btn btn-sm btn-danger text-white"
                  (click)="AddorEditChallenge(null,service.challenge.challenge_Id)"><i class="fa fa-trash"></i> Cancel
                  Consultation</a>
              </div>
            </div>


          </div>





          <!--Table-->
          <table class="table table-borderless">
            <thead class="thead-light">
              <th>Weight (kg)</th>
              <th>Height (m)</th>
              <th>Gender</th>
              <th>Date Of Birth</th>
              <th>Injury ID</th>
              <th></th>

            </thead>
            <tbody>
              <!--
        <tr *ngIf="service.subItem.length == 0">
          <td class="fornt-italic text-center" colspan="5">
            No subscriptions available
          </td>
        </tr>
        -->
              <tr>
                <!--*ngFor="let item of service.subItem; let i=index"-->
                <td>99.99</td>
                <td>9.99</td>
                <td>Male</td>
                <td>31-12-9999</td>
                <td>2</td>
                <td><a class="btn btn-sm btn-info text-white"
                    (click)="AddorEditChallenge(null,service.challenge.challenge_Id)"><i class="fa fa-pencil"></i> Edit
                    Consultation</a></td>

              </tr>
            </tbody>
          </table>


        </form>
      </div>
    </div>
  </div>
</div>
