<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center">Client Profile</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <form #form="ngForm" autocomplete="off" *ngIf="service.challengeData">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Name</label>
                <input name="challenge_Id" #challenge_Id="ngModel" [(ngModel)]=service.challengeData.challenge_Id
                  class="form-control" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Surname</label>
                <input name="challenge_Type_Id" #challenge_Type_Id="ngModel"
                  [(ngModel)]=service.challengeData.challenge_Type_Id class="form-control" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email</label>
                <input type="text" name="challenge_Start_Date" #challenge_Start_Date="ngModel"
                  [(ngModel)]=service.challengeData.challenge_Start_Date class="form-control" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Contact Number</label>
                <input type="text" name="chalenge_End_Date" #chalenge_End_Date="ngModel"
                  [(ngModel)]=service.challenge.chalenge_End_Date class="form-control" readonly>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">

                <label>Subscription Balance</label>
                <input name="prize_Id" #prize_Id="ngModel" [(ngModel)]=service.challengeData.prize_Id
                  class="form-control" readonly>

              </div>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-4">
              <div class="form-group">
                <a class="btn btn-sm btn-success text-white"
                  (click)="AddorEditChallenge(null,service.challenge.challenge_Id)"><i class="fa fa-plus"></i> Edit
                  Profile
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <a class="btn btn-sm btn-success text-white"
                  (click)="AddorEditChallenge(null,service.challenge.challenge_Id)"><i class="fa fa-plus"></i> Book
                  Training
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <a class="btn btn-sm btn-success text-white"
                  (click)="AddorEditChallenge(null,service.challenge.challenge_Id)"><i class="fa fa-plus"></i> Book
                  Consultation
                </a>
              </div>
            </div>


          </div>
          <!--Table-->
          <table class="table table-borderless">
            <thead class="thead-light">
              <th>Weight</th>
              <th>Height</th>
              <th>Gender</th>
              <th>Date Of Birth</th>
              <th>Injuries</th>

            </thead>
            <tbody>
              <!--
        <tr *ngIf="service.subItem.length == 0">
          <td class="fornt-italic text-center" colspan="5">
            No subscriptions available
          </td>
        </tr>
        -->
              <tr>
                <!--*ngFor="let item of service.subItem; let i=index"-->
                <td>99.99</td>
                <td>99.99</td>
                <td>xxxxxx</td>
                <td>31-12-9999</td>
                <td><select name="challenge_Type_Id" #challenge_Type_Id="ngModel"
                    [(ngModel)]=service.challengeData.challenge_Type_Id class="form-control">
                    <option vlaue="0">--Select--</option>
                  </select></td>

              </tr>
            </tbody>
          </table>


        </form>
      </div>
    </div>
  </div>
</div>