<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center" style="font-family: sans-serif; color: #777">Exercise Plans</h3>
  <div class="grid-container" style="padding: 10%; width:100%; height:100%; background-color: lightgray">
    <div class="img1">
    </div>
    <div class="panel2">
      <div class="panel panel-default">
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="img3">
      <div class="panel panel-default">
        <div class="panel-body">A Basic Panel3</div>
      </div>
    </div>
    <div class="panel1">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <h5 style="font-family: sans-serif; color: #777">Male Muscle Plan</h5>
        </div>
      </div>
    </div>
    <div class="img2">
      <div class="panel panel-default">
        <div class="panel-body">A Basic Panel5</div>
      </div>
    </div>
    <div class="panel3">
      <div class="panel panel-default">
        <div class="panel-body">A Basic Panel6</div>
      </div>
    </div>
  </div>
</div>