<h4 class="display-4">Edit Access Level</h4>
<hr>
<form #form="ngForm" autocomplet="off">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Access Level ID</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">#</div>
          </div>
          <input name="subscription_Id" #subscription_Id="ngModel" [(ngModel)]=formData.subscription_Id
            class="form-control" readonly value="9999">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Description</label>
        <input name="subscription_Type_Id" #subscription_Type_Id="ngModel" [(ngModel)]=formData.subscription_Type_Id
          class="form-control" readonly>

        <!--<select name="subscription_Type_Id" #subscription_Type_Id="ngModel" [(ngModel)]=formData.subscription_Type_Id
          class="form-control">
          <option vlaue="0">--Select--</option>
        </select>-->
      </div>
    </div>
    <div class="col-md-6" hidden>
      <div class="form-group">
        <label>Start Date</label>
        <input type="date" name="subscription_Start_Date" #subscription_Start_Date="ngModel"
          [(ngModel)]=formData.subscription_Start_Date class="form-control" value="31-12-9999">
      </div>
    </div>
    <div class="col-md-6" hidden>
      <div class="form-group">
        <label>End Date</label>
        <input type="date" name="subscription_End_Date" #subscription_End_Date="ngModel"
          [(ngModel)]=formData.subscription_End_Date class="form-control" value="31-12-9999">
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i>
      Close</button>

  </div>
</form>